.textbox-container {
    padding: 2vh;
    width: 20vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbox-input {
    border-radius: 2vh;
    border: 4px solid transparent;
    background-image: linear-gradient(to top, purple, blue), linear-gradient(to right, red, rgb(68, 255, 0));
    background-origin: border-box ;
    background-clip: padding-box, border-box;
    width: 80%;
    height: 60%;
}